<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Recipe Book</a>
  </div>
    <ul class="nav navbar-nav">
      <a href="#" class="nav-item nav-link active">Recipes</a>
      <a href="#" class="nav-item nav-link">Shopping List</a>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li href="#" class="navbar-item">Save Data</li>
          <li href="#" class="navbar-item">Fetch Data</li>
        </ul>
      </li>
    </ul>
</nav>
